.user-signature {
  text-align: center;
  margin: 20px;
}

.user-signature img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.plain-text-signature {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
}

.plain-text-signature pre {
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}
